{{ define "Adapters" }}
{{- startfile (print output.target output.schema "/adapters.go") }}
package {{output.schema}}
import "golang.org/x/net/context"
{{ range $i, $definition := nodes.Definition }}
{{ partial (print "Native/" (kind $definition)) $definition }}
{{ end }}
{{ if (len nodes.Relay) }}
type RelayInterface interface {
{{ range $node := nodes.Relay }}
	Resolve{{$node.Name.Value}}Node(context.Context, string) ({{$node.Name | nativetype}}, error)
{{ end }}
}
{{ end }}
{{ endfile -}}
{{ end }}
