{{define "Adp_EnumDefinition"}}
const (
{{ range $i, $e := .Values }}
	{{.Name.Value}} int = {{$i}}
{{ end }}
)
{{end}}

{{define "Def_EnumDefinition" -}} {{/* add "Enum" .Name.Value */}}
var {{ .Name | def2graphql}} = {{cfg.pkg}}.NewEnum({{cfg.pkg}}.EnumConfig{
    Name: "{{.Name.Value}}",
    Values: {{cfg.pkg}}.EnumValueConfigMap{
        {{template "EnumValueDefinition" .Values}}
    },
})

{{end}}

{{define "EnumValueDefinition" -}}
{{range $i, $e := . -}}
"{{.Name.Value}}": &{{cfg.pkg}}.EnumValueConfig{
    Value: {{$i}},
},
{{end}}
{{end}}

{{define "GraphqlEnumDefinition" -}}
{{ .Name | private }}Enum
{{- end}}

{{define "NativeEnumDefinition" -}}
{{/*{{ .Name }}*/}}int
{{- end}}
