{{define "Native/InputObjectDefinition" -}}
type {{ .Name | nativetype }} struct{
    {{- range $fields := .Fields}}
    {{range $desc := . | desc -}}
    // {{ $desc }}
    {{end -}}
    {{.Name.Value | public}} {{.Type | nativetype}}
    {{end}}
}

{{end}}

{{define "Graphql/InputObjectDefinition" -}}
var {{ .Name | graphqltype }} = {{cfg.pkg}}.NewInputObject({{cfg.pkg}}.InputObjectConfig{
    Name: "{{ .Name.Value }}",
    {{with $desc := . | desc -}}
    Description: {{template "Description" $desc}}
    {{end -}}
    Fields: {{cfg.pkg}}.InputObjectConfigFieldMap {
        {{range $fields := .Fields}}
        "{{.Name.Value}}":  &{{cfg.pkg}}.InputObjectFieldConfig{
            Type: {{.Type | graphqltype}},
            {{with $desc := . | desc -}}
            Description: {{template "Description" $desc}}
            {{end -}}
        },
        {{end}}
        {{ if .Name.Value | relayinput }}
		"clientMutationId": &graphql.InputObjectFieldConfig{
			Type: graphql.String,
		},
        {{ end }}
    },
})

{{end}}

{{define "NativeInputObjectDefinition" -}}
{{ .Name }}Struct
{{- end}}

{{define "GraphqlInputObjectDefinition" -}}
{{ .Name | private }}Definition
{{- end}}
