{{define "Header"}}
package schema

import (
    "github.com/graphql-go/graphql"
	"github.com/mitchellh/mapstructure"
)
{{end}}

{{define "Description" -}}
    "{{- range $i, $desc := . -}}
    {{if $i}}\n" +
    "{{end}}{{$desc}}
    {{- end -}}",
{{- end}}

{{define "OperationDefinition"}}
// query, mutation or subscription
{{end}}

{{define "NativeScalarDefinition" -}}
{{ .Name }}ScalarInterface
{{- end}}

{{define "GraphqlScalarDefinition" -}}
{{ .Name }}Scalar
{{- end}}
