{{ define "Models" }}
{{ $filename := (print output.target output.models "/root.go") }}
{{ if not (existfile $filename) }}
{{ startfile $filename }}
package {{output.models}}
import (
    "{{output.package}}/{{output.schema}}"
    "context"
)
{{ range $i, $root := nodes.Root }}
    var _ {{ nativetypepkg $root.Name output.schema }} = (*Root)(nil)
{{ end }}
{{ if (len nodes.Relay) }}
    var _ {{output.schema}}.RelayInterface = (*Root)(nil)
{{ end }}
type Root struct {

}

{{ range $i, $root := nodes.Root }}
    {{ partial "Model/ObjectDefinition" $root }}
{{ end }}
{{ range $relay := nodes.Relay }}
func (root Root) Resolve{{$relay.Name.Value}}Node(ctx context.Context, id string) ({{ nativetypepkg $relay.Name output.schema }}, error) {
    return nil, nil
}
{{ end }}
{{ endfile }}
{{ end }}

{{ range $i, $definition := nodes.Object }}
{{ $filename := (print output.target output.models "/" ($definition.Name.Value | private) ".go") }}
{{ if not (existfile $filename) }}
{{ if not ($definition.Name.Value | root)}}
{{- startfile $filename }}

package {{output.models}}
import (
    "{{output.package}}/{{output.schema}}"
    "context"
)

var _ {{nativetypepkg $definition.Name output.schema }} = (*{{$definition.Name.Value}})(nil)
type {{$definition.Name.Value}} struct {

}

{{ partial "Model/ObjectDefinition" $definition }}

{{ endfile }}
{{ end }}
{{ end }}
{{ end }}

{{ end }}
