{{define "Model/ObjectDefinition" -}}
{{/*type {{.Name | nativetype}} interface{ */}}
{{range $fields := .Fields -}}
{{range $desc := . | desc -}}
// {{.}}
{{end -}}
{{- if .Arguments -}}
// {{.Name.Value}}(
{{- range $i, $args := .Arguments -}}
{{if $i}},{{end}} {{ . | body -}}
{{- end }} )
{{ end -}}
{{- if $.Name.Value | root -}}
func (root Root) {{.Name.Value | public}}{{$.Name.Value}}(
{{- else -}}
func ({{$.Name.Value | private}} {{$.Name.Value}}) {{.Name.Value | public}}Field(
{{- end -}}
    {{- if .Type | connection }}
    args relay.ConnectionArguments,
    {{- else -}}
        {{- range $i, $args := .Arguments -}}
            {{.Name.Value}} {{nativetypepkg .Type output.schema}},
        {{- end -}}
    {{- end }}
    ) (
    {{- if .Type | connection -}}
    *relay.Connection
    {{- else -}}
    {{nativetypepkg .Type output.schema}}
    {{- end -}}, error) {

    }
{{end}}
{{/*}*/}}

{{end}}

{{define "Native/ObjectDefinition" -}}
{{range $i, $desc := . | desc -}}
{{- if $i | not}}// {{$.Name | nativetype }} {{.}}
{{else}}
// {{.}}
{{end -}}
{{end -}}
type {{.Name | nativetype}} interface{
    {{range $fields := .Fields -}}
    {{range $desc := . | desc -}}
    // {{.}}
    {{end -}}
    {{- if .Arguments -}}
    // {{.Name.Value}}(
    {{- range $i, $args := .Arguments -}}
    {{if $i}},{{end}} {{ . | body -}}
    {{- end }} )
    {{ end -}}
    {{- if $.Name.Value | root -}}
    {{.Name.Value | public}}{{$.Name.Value}}(
    {{- else -}}
    {{.Name.Value | public}}Field(
    {{- end -}}
        {{- if .Type | connection -}}
        relay.ConnectionArguments
        {{- else -}}
        {{- range $i, $args := .Arguments -}}
        {{if $i}}, {{end}}{{- .Type | nativetype -}}
        {{- end -}}
        {{- end -}}
    ) ({{.Type | nativetype}}, error)

    {{end}}
}

{{end}}

{{define "Graphql/ObjectDefinition" -}}
var {{ .Name | graphqltype }} = {{cfg.pkg}}.NewObject({{cfg.pkg}}.ObjectConfig{
    Name: "{{.Name.Value}}",
    Fields: graphql.Fields{},
    {{with $desc := . | desc -}}
    Description: {{template "Description" $desc}}
    {{end -}}
    {{ if (len .Interfaces) }}
    Interfaces: (graphql.InterfacesThunk)(func() []*graphql.Interface {
        return []*graphql.Interface{
        {{ range $iface := .Interfaces }}
            {{ if eq ($iface | body) "Node" }}
            nodeDefinitions.NodeInterface,
            {{ else }}
            {{$iface | graphqltype}},
            {{ end }}
        {{ end }}
        }
    }),
    {{ end }}
})

{{end}}

{{define "Fields/ObjectDefinition" -}}
    {{ $definition := .Name | graphqltype }}
    {{ if and (.Name.Value | root) (eq .Name.Value "Query") (len nodes.Relay)}}
    {{ $definition }}.AddFieldConfig("node", nodeDefinitions.NodeField) 
    {{ end }}
    {{ if .Name.Value | relaypayload }}
    {{ $definition }}.AddFieldConfig("clientMutationId",
		&graphql.Field{
			Type: graphql.String,

			Resolve: func(params graphql.ResolveParams) (interface{}, error) {
				source := params.Source.(map[string]interface{})
				id := source["clientMutationId"].(string)
				return id, nil
			},
		},
	)
    {{ end }}
    {{with $fd := .Fields -}}
    {{ range $fd }}
    {{ $definition }}.AddFieldConfig("{{ .Name.Value }}", 
        {{ if and (relay $.Interfaces) (eq .Name.Value "id") }}
        relay.GlobalIDField("{{$.Name.Value}}", idFetchFunction),
        {{ else }}
        &{{cfg.pkg}}.Field{
            Type: {{.Type | graphqltype}},
            {{if not (.Type | connection) }}
            {{with $desc := . | desc -}}
            Description: {{template "Description" $desc}}
            {{end -}}
            {{with $args := .Arguments -}}
            Args: {{cfg.pkg}}.FieldConfigArgument{
                {{ range $args -}}
                "{{.Name.Value}}": &{{cfg.pkg}}.ArgumentConfig{
                    Type: {{.Type | graphqltype}},
                    {{with $desc := . | desc -}}
                    Description: {{template "Description" $desc}}
                    {{end -}}
                },
                {{end}}
            },
            {{end -}}
            Resolve: func(params {{cfg.pkg}}.ResolveParams) (interface{}, error) {

                {{ $returnspayload := (.Type | namedtype) | relaypayload }}
                {{ $ispayload := $.Name.Value | relaypayload }}
                {{ range $args := .Arguments -}}
                    var {{.Name.Value}}Arg {{.Type | nativetype}}
                    mapstructure.Decode(params.Args["{{.Name.Value}}"], &{{.Name.Value}}Arg)
                    {{end}}
                    {{if $.Name.Value | root}}
                        {{ if eq $returnspayload true }}
                            payload, err := provider.{{$.Name.Value | private}}.{{.Name.Value | public}}{{$.Name.Value}}(
                        {{- else -}}
                            return provider.{{$.Name.Value | private}}.{{.Name.Value | public}}{{$.Name.Value}}(
                        {{- end -}}
                    {{- else -}}
                        {{ if eq $ispayload true }}
                        source := params.Source.(map[string]interface{})
                        {{$.Name.Value}}Source, _ := source["payload"].({{$.Name | nativetype}})
                        {{ else }}
                        {{$.Name.Value}}Source, _ := params.Source.({{$.Name | nativetype}})
                        {{ end }}
                        return {{$.Name.Value}}Source.{{.Name.Value | public}}Field(
                    {{- end}}
                    {{- range $i, $args := .Arguments -}}
                        {{if $i}}, {{end}}{{.Name.Value}}Arg
                    {{- end -}})
                    {{ if eq $returnspayload true }}
                        if err != nil {
                            return nil, err
                        }
                        id := params.Args["input"].(map[string]interface{})["clientMutationId"]
                        return map[string]interface{}{
                            "payload":          payload,
                            "clientMutationId": id,
                        }, nil
                    {{ end }}

            },
            {{ else }}{{/* else not connection */}} 
            Args: relay.ConnectionArgs,
            Resolve: func(params {{cfg.pkg}}.ResolveParams) (interface{}, error) {
                args := relay.NewConnectionArguments(params.Args)
                {{if $.Name.Value | root}}
                return provider.{{$.Name.Value | private}}.{{.Name.Value | public}}{{$.Name.Value}}(
                {{- else -}}
                {{$.Name.Value}}Source, _ := params.Source.({{$.Name | nativetype}})
                return {{$.Name.Value}}Source.{{.Name.Value | public}}Field(
                {{- end}} args)

            },
            {{ end }}{{/* end if connection */}}
        },
        {{ end }} {{/* end if a relay id field */}}
    ){{end}}
    {{end}}

{{ end }}

{{define "NativeObjectDefinition" -}}
{{ .Name }}Interface
{{- end}}

{{define "GraphqlObjectDefinition" -}}
{{ .Name | private }}Definition
{{- end}}
