{{define "NativeNamed" -}}
{{ .Name }}
{{- end}}

{{define "GraphqlNamed" -}}
{{cfg.pkg}}.{{.Name}}
{{- end}}

{{define "GraphqlNonNull" -}}
{{cfg.pkg}}.NewNonNull({{.Type | graphqltype}})
{{- end}}

{{define "NativeNonNull" -}}
{{nativetypepkg .Type .Package}}
{{- end}}

{{define "GraphqlList" -}}
{{cfg.pkg}}.NewList({{.Type | graphqltype}})
{{- end}}

{{define "NativeList" -}}
[]{{nativetypepkg .Type .Package}}
{{- end}}
