{{define "NativeNamed" -}}
{{ .Name }}
{{- end}}

{{define "GraphqlNamed" -}}
{{cfg.pkg}}.{{.Name}}
{{- end}}

{{define "GraphqlNonNull" -}}
{{cfg.pkg}}.NewNonNull({{.Type | def2graphql}})
{{- end}}

{{define "NativeNonNull" -}}
{{ .Type | def2native}}
{{- end}}

{{define "GraphqlList" -}}
{{cfg.pkg}}.NewList({{.Type | def2graphql}})
{{- end}}

{{define "NativeList" -}}
[]{{ .Type | def2native}}
{{- end}}
